python.invokePipAsModule=true
python.path=python3.9
python.installVirtualenv=true

python.runPoetryPreStep=true
python.runPipenvPreStep=true
python.resolveSetupFiles=true
python.resolveHierarchyTree=true
python.resolveDependencies=true
python.pipenvDevDependencies=true
python.ignoreSourceFiles=true
python.ignorePipInstallErrors=true
python.IgnorePipenvInstallErrors=true
#python.resolvePipEditablePackages=false
#python.resolveGlobalPackages=false
#python.requirementsFileIncludes=
#python.pipPath=pip
#python.localPackagePathsToInstall=
#python.indexUrl=
#python.includePoetryDevDependencies=false
